@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    background-color: rgb(0, 100, 92);
    color: white;
    padding: 50px 500px;
}

header h1{
    text-transform: uppercase;
}

header input,button{
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 30px;
}

header button{
    background-color: rgba(0,0,0,0);
    color: white;
}

main{
    flex: 100%;
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(0, 100, 92);
    color: white;
    padding: 50px 500px;
}

.searchList{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

/*card css*/
.card{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.posterBox{
    position: relative;
    aspect-ratio: 2/3;
    overflow: hidden;
}

.posterBox .glass{
    position: absolute;
    top: -50px;
    left: -30px;
    width: 80px;
    height: 150px;
    backdrop-filter: blur(10px);
    transform: rotate(45deg);
    box-shadow: 0 0 50px black;
}

#score{
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0 0 15px black;
    top: 10px;
    left: 10px;
}


.posterBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: top;
}

.card .contentBox{
    padding: 10px;
    font-size: 1em;
}

/* pagination css*/
ul{
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 30px auto;
}

li{
    list-style-type: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: rgb(0, 100, 92);
    cursor: pointer;
}

.active{
    background-color: rgb(0, 100, 92);
    color: white;
}